body{
    background-color: white;
    margin: 0px;
    
}
.navbar{
    background-color: black;
    color: white;
    justify-content:space-between ;
    display: flex;
    align-items: center;
}

a{
    color: white;
    padding: 0 10px;

}

h3{
    color: green;
    padding-left: 20px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.one{
    background-color: white;
    border: 10px;
    border-radius: 10px;
}

.two{
    background-color: purple;
    border: 10px;
    border-radius: 10px;
}